.home{
	background-color: #E7816B;
}
.homebg{
    height: 60vh;
    width: 99vw;
    
}

.homeintro{
    position: absolute;
    top: 15%;
    color: #ffffff;
    text-align: center;
}
.homesvg{
    overflow-x: hidden;
}
.phone{
	right: 3%;
	position: relative;
	bottom: 90%;
}
.phone img{
	width: 105%;
}
.homesvg img{
    width: 160%;
    margin-top: 5%;
}
.frames{
	display: flex;
	flex-flow: wrap;
	background-color: #ffffff;
    margin-top: -100%;
}
.frames div{
	padding-top: 15%;
	padding-left: 5%;
	border-radius: 15%;
}
.frames img{
	border-radius: 10%;
	width: 80%;
	background-image: linear-gradient(rgb(24, 22, 22), rgb(248, 248, 242));
}
.frames-txt a, .frames-txt p{
	color: #ffffff;
	font-size: smaller;
}
.one{
	position: absolute;
	top: 105%;
	left: 30%;
	font-size: larger;
}
.two{
	position: absolute;
	top: 135%;
	left: 32%;
	font-size: larger;
}
.three{
	position: absolute;
	top: 169%;
	left: 30%;
	font-size: larger;
}
.illustration{
	display: flex;
	flex-flow: wrap;
	background-color: #ffffff;
}
.illustration p{
	font-size: smaller;
	font-family: "verdana";
	font-weight: lighter;
	color: #333136;
}
.illustration img{
	background-color: aliceblue;
	width: 40%;
	border-radius: 50%
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
