body{
	overflow-x: hidden;
}
.home{
	background-color: #E7816B;
	width: 70%;
	margin-left: 16%;
	color: #ffffff;
	border-radius: 1%;
	margin-bottom: 10%;
}
.home-flex{
	display: flex;
	flex-direction: row;
}

.homeintro{
	margin-top: 10%;
	margin-left: 5%;
	text-align: left;
	animation-name: slideright ;
	animation-delay: 0.5s;
	animation-duration: 1s;
	transition: ease-out;
}
@keyframes slideright{
	0%{margin-left: 0%; color: #E7816B; }
	25%{margin-left: 1%; color: #d4aaaa;}
	45%{margin-left: 3%; color: #dcdcdc;}
	70%{margin-left: 5%; color: #f9f9f9;}
	100%{margin-left: 7%; color: #ffffff;}
}
.homesvg{
    overflow-x: hidden;
}

.phone img{
	width: 105%;
}
.homesvg img{
    width: 40%;
	margin-top: 5%;
	position: absolute;
	top: 6%;
	right: 15%;
}
.leaf img{
	width: 40%;
	position: absolute;
	top: 70%;
	left: 0%;
	opacity: 0.4;
}
.btm-leaf img{
	width: 40%;
	opacity: 2%;
	position: absolute;
	top: 200%;
	right: 0%;
	opacity: 0.4;
}



.illustration{
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	width: 70%;
	margin-left: 16%;
	margin-top: 10%;
	margin-bottom: 15%;
}
.illustration p{
	font-size: smaller;
	font-family: "verdana";
	font-weight: lighter;
	color: #333136;
	
}
.illustration img{
	background-color: aliceblue;
	width: 40%;
	border-radius: 50%
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #e0cbcb;
	background:linear-gradient(to bottom, #d4aaaa 5%, #e9e9e9 100%);
	background-color:#ebd4d4;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
@media only screen and (min-width:746px){
	.home, .frames, .illustration{
		visibility: visible;
	}
	.home{
		padding-bottom: 3%;
	}
}
@media only screen and (max-width:680px){
	
	.home{
		width: 100vw;
		margin: 0;
		color: #ffffff;
		border-radius: 1%;
		margin-bottom: 10%;
	
	}
	.home-flex{
		display: flex;
		flex-direction: column;
	}
	.homeintro{
		margin-top: 20%;
		margin-left: 5%;
		text-align: center;
	}
	.homeintro .myButton{
		margin-top: 10%;
	}

	.phone img{
		width: 100%;
	}
	.home-flexgrid{
		display: flex;
		flex-direction: column;
        margin: 0;
	}
	.home-grid img{
		margin-left:0%;
	}
	.homesvg{
		overflow-x: hidden;
	}
	.homesvg img{
		width: 100%;
		height: 70vh;
		margin-top: 5%;
		position: absolute;
		top: 14%;
		left: 0%;
	}
	.illustration{
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		width: 70%;
		margin-left: 16%;
		margin-top: 7%;
	}
	.leaf{
		visibility: hidden;
	}

}
